{% extends 'Planner/base.html' %}
{% load staticfiles %}

{% block header %}
    <title>Detalhes Apostila</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script>
        {% if edit %}
        function myConfirm(str){
            if (confirm(str))
                location.href = "{% url 'url_delete' doc.id %}";
        }
        {% endif %}
    </script>

    <style>
        .hidden {
            display: none;
        }

        .fieldWrapper {
            align-content: center;
            align-self: center;
            text-align: center;
        }

        .label {
            font-size: 110%;
            color: dimgray;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 fieldWrapper">
            <div style="margin: 2%">
            {% if edit %}
                <button  class="btn btn-danger" onclick="myConfirm('Certeza que quer deletar {{ doc }} ?')">Deletar</button>
            {% endif %}
                <button  class="btn btn-success" onclick="location.href = '{% url 'url_search' %}' ">Voltar</button>
            </div>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}

                {% for field in form %}
                        <div class="fieldWrapper form-group">
                            {{ field.errors }}
                            <span class="label">{{ field.label_tag }}</span>
                            <br>
                            {% if field.name == "categories" %}
                                <p style="color: darkgray; margin-top: 1%">Pressione <img src="{% static 'Materials/assets/ctrl.jpeg' %}" alt="Control key" style="max-width: 3%"              align="middle"> para selecionar mais de uma categoria.</p>
                            {% endif %}
                            {{ field }}
                            {% if field.help_text %}
                            <i class="fas fa-info-circle help" title="{{ field.help_text|safe }}"></i>
                            {% endif %}
                        </div>
                {% endfor %}
                <button style="margin: 2%;" type="submit" class="btn btn-success">Salvar</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}