{% extends 'Planner/base.html' %}
{% load staticfiles %}
{% block header %}
<title>Apostilas</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/colors.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>

    .margin {
        margin: 16px;
    }

    h2 {
        text-align: center;
        color: #5cb85c;
    }

    .center {
        text-align: center;
        margin-top: 1%;
    }

    .current {
        color: dimgray;
        font-size: 14pt;
    }

</style>
<script>
    function show_help(target) {
        var panel = document.getElementById(target);
        panel.classList.toggle("hidden");
    }

    function open_media(file, url) {
        if(url.length > 0 && confirm('Abrir url da apostila?')){
            window.open(url, '_blank');
        }
        if (/\/media\/.+/g.test(file) && confirm('Abrir arquivo da apostila?')){
            window.open(file, '_blank')
        }
    }
</script>
{% endblock %}

{% block content %}
<!-- Botão de Ajuda -->
<div class="conteiner-fluid">
    <div class="conteiner margin">
        <button class="btn btn-success btn-lg" type="button" onmouseover="show_help('help_panel')" onmouseout="show_help('help_panel')" aria-haspopup="true" aria-expanded="false">
            Ajuda <i class="fa fa-question-circle-o"></i>
        </button>
            <div class="panel panel-success hidden bkgd-green" id="help_panel">
                <div class="panel-body" style="color: white; font-size: 12pt;">
                    <ul>
                        <li>Deixe o mouse sobre uma linha da tabela para ver a descrição da apostila.</li>
                        <li>Clique sobre o ID da apostila para <strong>editá-la</strong>.</li>
                        <li>Clique na linha para <strong>visualizar</strong> a apostila.</li>
                    </ul>
                </div>
        </div>
    </div>
</div>
<!-- /Botão de Ajuda -->
<!-- Barra de título e filtros -->
    <div class="row">
        <div class="col-md-4">
            <h2>Apostilas Disponíveis</h2>
        </div>
        <div class="col-md-2 center">
    
            <a class="btn btn-success btn-lg" href="{% url 'url_detail' -1 %}">Adicionar Apostila
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
        <div class="col-md-6 center">
    
            <form action="{% url 'url_search' %}" method="GET">
                {% csrf_token %}
                <div class="form-inline">
                    <input class="form-control" type="text" name="search" placeholder="Buscar">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <button type="button" class="btn btn-success" onclick="show_help('filters')">
                            <span class="glyphicon glyphicon-filter"></span> Filtros</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 2%">
                    <div id="filters" class="form-inline hidden">
                        <label for="project" class="col-sm-2 control-label" style="color: dimgray">Projeto: </label>
                        <select name="project" id="project" class="form-control">
                            <option selected value> ------- </option>
                            {% for project in projects %}
                            <option value="{{project.id}}">{{ project.name|safe }}</option>
                            {% endfor %}
                        </select>
                        <div class="row" style="margin-top: 1%">
                            <label for="categories" class="col-sm-2 control-label" style="color: dimgray">Categorias: </label>
                            <select name="categories" id="categories" class="form-control" multiple>
                                {% for category in categories %}
                                <option value="{{category.id}}">{{ category.category|safe }}</option>
                                {% endfor %}
                            </select>
                            <p style="color: darkgray; margin-top: 1%">Pressione
                                <img src="{% static 'Materials/assets/ctrl.jpeg' %}" alt="Control key" style="max-width: 5%"
                                    align="middle"> para selecionar mais de uma categoria.</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Barra de título e filtros -->
    <!-- Paginator BEGIN -->
    <div class="container-fluid" style="text-align: center;">
        <span class="step-links" >
            {% if entries.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ entries.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ entries.number }} of {{ entries.paginator.num_pages }}
            </span>
    
            {% if entries.has_next %}
                <a href="?page={{ entries.next_page_number }}">next</a>
                <a href="?page={{ entries.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <!-- Paginator END -->

    <div class="container-fluid margin">
        <table class="table table-hover table-striped" style="margin-top: 1em;">
            <div style="position: sticky">
                <thead>
                    <tr class="bg-success">
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th scope="col">Categorias</th>
                        <th scope="col">Projeto</th>
                        <th scope="col">Media</th>
                    </tr>
                </thead>
            </div>
            <tbody>
            {% for ap in entries %}
                <tr title="{{ ap.description }}">
                    <td><a href="{% url 'url_detail' ap.id %}" class="badge bkgd-green" style="font-weight: bolder">{{ ap.id|safe }}</a></td>
                    <td onclick="open_media('{{media}}{{ap.file}}', '{{ap.url}}')" style="cursor: pointer;">{{ ap.title }}</td>
                    <td onclick="open_media('{{media}}{{ap.file}}', '{{ap.url}}')" style="cursor: pointer;">{% for cat in ap.categories.all %}
                        {{ cat.category }},
                        {% endfor %}
                    </td>
                    <td onclick="open_media('{{media}}{{ap.file}}', '{{ap.url}}')" style="cursor: pointer;">{% for p in ap.project.all %}
                        {{ p.name }},
                        {% endfor %}
                    </td>
                    <td>
                        {% if ap.file %}
                        <span class="glyphicon glyphicon-file" style="font-size: 1.5em;"></span>
                        {% endif %}
                        {% if ap.url %}
                        <i class="material-icons" style="font-size: 1.5em;">link</i>
                        {% endif %}
                        {% if not ap.file and not ap.url %}
                        <span class="glyphicon glyphicon-remove-sign" style="color: red; font-size: 1.5em;"></span>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}